*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    max-width: 80vw;
    margin: 0 auto;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.gallery-content{
   padding: 2rem 2rem 1rem 2rem;
   background-color: #f6f6f6;
   border-radius: 1rem;

}

.gallery-content > img{
    border-radius: 1rem;
    width: 100%;
    background-color: #B6B5B5;
}