*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    max-width: 80vw;
    margin: 0 auto;
}
.gallery-section{
    text-align: center;
    margin-top: 2rem;
}
.section-title{
    font-size: 3rem;
    font-weight: 600;
    color: black;
}
.section-description{
    color: var(--Color-4, rgba(30, 30, 30, 0.50));
    font-size: 1rem;
    font-weight: 500;
    margin: 0rem 0rem 1rem 0rem;
}
.gallery-section > hr{
    width: 50vw;
    margin: 0 auto;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.gallery-content{
   padding: 2rem 2rem 1rem 2rem;
   background-color: #f6f6f6;
   border-radius: 1rem;

}

.gallery-content > img{
    border-radius: 1rem;
    width: 100%;
    background-color: #B6B5B5;
}
.product-title{
    padding-top: 0.5rem;
    color: var(--Color-2, #1E1E1E);
    font-size: 18px;
    font-weight: 500;
}
.product-price{
    color: rgba(30, 30, 30, 0.50);
    font-size: 16px;
    font-weight: 500;
}

/* Small Devices */

@media screen and (max-width: 576px) {
    .gallery-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .section-title{
        font-size: 2rem;
    }
    .section-description{
        font-size: 1rem;
    }
}

/* Medium Devices */

@media screen and (max-width: 992px) and (min-width: 576px) {
    .gallery-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .section-title{
        font-size: 2.5rem;
    }
    .section-description{
        font-size: 1rem;
    }
}
